@import '../variables.scss';

.button-head {
  width: 186px;
  height: 40px;
  border: 2px solid $btn-orange;
  border-radius: 7px;
  color: $btn-orange;
  background-color: #fff;

  @include btn-orn;
}

.btn-main {
  @include btn-orn;
  @extend %btn-main;
  width: 128px;
}

.btn-main-wp {
  @include btn-orn;
  @extend %btn-main;
  width: 228px;
}
