@import '../variables.scss';

.main-wrapper {
  max-width: 1056px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;

  .title {
    margin-top: 96.5px;
    margin-bottom: 35px;
    font-size: 58px;
    line-height: 80px;
    @include title;

    @media screen and (max-width: 780px) {
      font-size: 38px;
      line-height: 51px;
    }
    @media screen and (max-width: 525px) {
      font-size: 28px;
      line-height: 39px;
    }
  }
  .title-wp {
    margin-top: 221px;
  }
  .title-contacts {
    margin-top: 184.5px;
  }

  .buttons-main {
    display: flex;
    flex-direction: row;
    .btn-contacts {
      @include btn-orn;
      font-weight: 700;
      font-size: 14px;
      line-height: 22px;
      color: $btn-orange;
      width: 152px;
      height: 52px;
      margin-left: 10px;
      border: 1px solid $btn-orange;
      border-radius: 5px;
      background-color: #fff;
    }
    .btn-contacts-wp {
      width: 228px;
    }
  }

  .boxes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 96.5px;

    @media screen and (max-width: 1035px) {
      flex-direction: column;
    }
    @media screen and (max-width: 525px) {
      align-items: center;
    }
  }
}
